@media (max-width:991px) {
    .sidebar-layout.layout-one .hero-area .left {
        width: 490px;
    }
    .sidebar-layout.layout-one .hero-area .right {
        width: 220px;
        padding: 5px;
    }
    .sidebar-layout.layout-one .left .pricing-badge {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .step-description {
        width: 370px;
        font-size: 16px;
    }
    .packages-list div[class*=col-] .standard-package {
        width: 90%;
        margin: 10px 5%;
    }
    .packages-list div[class*=col-] {
        width: 50%;
    }
    .packages-list div[class*=col-].col-3 {
        width: 100%;
    }
    .packages-list>.standard-package {
        width: 100%;
        float: none;
        clear: both;
        margin: 0 auto 20px;
        max-width: 230px;
    }
    .packages-list>.standard-package:last-child {
        margin-right: auto;
    }
    .custom-order-form {
        max-width: 100%;
        width: 320px;
        float: none;
        margin: 0 auto;
    }
    .custom-order-ctc {
        float: none;
        max-width: 100%;
        margin: 20px auto 0;
    }
    .inner-page .hero-area .left .title h1 {
        font-size: 26px;
        line-height: normal;
    }
    .inner-page .hero-area .left .title {
        margin: 10px 0 0 90px;
        padding: 0;
    }
    .inner-page .hero-area .left .pricing {
        font-size: 24px;
        margin: 0 0 0 190px;
        line-height: normal;
    }
    .inner-page .hero-area .left ul.list-wrapper.full-list {
        margin: 5px 0 0 188px;
    }
    .inner-page .hero-area .left .title h2 {
        font-size: 26px;
    }
    .inner-page .hero-area .right,
    .inner-page .hero-area .left,
    .inner-page .hero-area .left:before {
        height: 380px;
    }
    .inner-page .hero-area .left ul.list-wrapper.full-list li {
        font-size: 12px;
    }
    .inner-page .hero-area .left .hero-cta {
        font-size: 22px;
    }
    .inner-page .hero-area .left .hero-cta span {
        font-size: 16px;
        line-height: normal;
    }
    .section-7 .other-ebooks ul li {
        padding: 0 9px;
    }
    .ebook-steps .step-description {
        width: 595px;
    }
    .section-4 p {
        min-height: 42px;
        margin: 0 0 10px;
    }
    .section-4 .col-left,
    .section-4 .col-right {
        width: 50%;
        margin: 0;
        padding: 0 1%;
    }
    .standard-packages.package-style-2 .standard-package {
        width: 200px;
        margin: 50px 32px 10px 0px;
    }
    .package-style-2 .package-pricing-main {
        width: 70px;
        height: 70px;
        right: -20px;
        top: -30px;
        line-height: 70px;
    }
    .package-style-2 .package-pricing-main .package-pricing {
        font-size: 20px;
    }
    .standard-packages.package-style-2 .standard-package .package-heading:after {
        border-width: 10px 200px 0 0;
        FONT-VARIANT: JIS04;
    }
    .section-9 .custom-order-form-ebook {
        float: none;
        margin: 0 auto;
        display: block;
        overflow: auto;
        width: 570px;
    }
    .section-9 .ebook-page-badges {
        float: none;
        margin: 20px auto 0;
        width: 570px;
    }
    .section-9 .ebook-page-badges ul li {
        width: 25%;
    }
    .section.section-10 {
        display: none;
    }
    .inner-page .hero-area .left .title.s2 {
        margin: 10px 0 0 10px;
    }
    .section-11 .package-row-1 .package,
    .section-11 .package-row-2 .package,
    .section-11 .package-row-3 .package {
        width: 210px;
    }
    .section-11 .full-row.package-row-3 .bp-pkg-heading {
        font-size: 15px;
    }
    .section-7 [class*=col] .section-text {
        width: 270px;
    }
    .section-11 .bp-pkg-heading {
        font-size: 18px;
        padding: 20px 0;
    }
    .inner-page .hero-area .left .title.s2 h1 {
        font-size: 26px;
    }
    .inner-page .hero-area .left .title.s2 h2 {
        font-size: 22px;
    }
}

@media (max-width:767px) {
    .section h2 span {
        display: block;
    }
    .sidebar-layout.layout-one .hero-area .right {
        width: 100%;
        margin: 15px 0 0;
    }
    .sidebar-layout.layout-one .hero-area .left {
        width: 100%;
    }
    .step-description {
        width: 316px;
    }
    .how-it-works h2 {
        font-size: 26px;
    }
    .how-it-works h2 span {
        font-size: 18px;
        display: block;
    }
    .how-it-works h2 {
        font-size: 26px;
    }
    .how-it-works h2 span {
        font-size: 18px;
    }
    .packages-list div[class*=col-] {
        width: 100%;
    }
    .packages-list div[class*=col-] .standard-package {
        width: 100%;
        margin: 0 0 15px;
    }
    .side-bar-widget img {
        margin: 0 auto;
        display: block;
    }
    ul.sailent-features.three-col li,
    ul.sailent-features.three-col li:nth-child(3n+1) {
        width: 50%;
        clear: none;
    }
    ul.sailent-features.three-col li:nth-child(2n+1) {
        clear: left;
    }
    .inner-page .hero-area .right,
    .inner-page .hero-area .left {
        height: auto;
    }
    .inner-page .hero-area .left:before {
        height: 316px;
        top: 137px;
    }
    .section-7 .samples ul li {
        width: 50%;
    }
    .section-7 .other-ebooks ul li {
        border: none;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .ebook-steps .step-description {
        width: 100%;
        text-align: center;
    }
    .ebook-steps .step-icon {
        width: 100%;
        text-align: center;
    }
    .section-4 .col-left,
    .section-4 .col-right {
        width: 100%;
        padding: 0;
        border: none;
    }
    .section-5 .client-feedback {
        width: 100%;
    }
    .standard-packages.package-style-2 .standard-package {
        width: 250px;
        margin: 45px auto;
        float: none;
    }
    .section-9 .custom-order-form-ebook {
        width: 100%;
        background: #f7f7f7;
        border: 1px solid #d0cccc;
    }
    .section-9 .ebook-page-badges {
        width: 100%;
    }
    .section-9 .ebook-page-badges ul li {
        width: 50%;
    }
    .section-11 .package-row-3 .package,
    .section-11 .package {
        width: 90%;
        margin: 0 5% 20px;
    }
    .section-12 .col-1 {
        width: 100%;
    }
    .section-12 .col-2 {
        width: 100%;
    }
    .section-12 .col-2 .custom-order-ctc {
        margin-top: 30px;
    }
    .section-7 .col-1,
    .section-7 .col-2 {
        width: 100%;
    }
    .section-7 [class*=col] .section-text {
        width: 332px;
    }
    .section-11 .package-row-1 .package,
    .section-11 .package-row-2 .package,
    .section-11 .package-row-3 .package {
        width: 90%;
    }
    .section-11 .package.recommended {
        margin-top: 0;
    }
    .full-row.package-row-1 {
        padding: 20px 0;
    }
    .section-11 .full-row.package-row-2 .bp-pkg-list {
        min-height: 254px;
    }
    .section-11 .full-row.package-row-2 .bp-pkg-list {
        min-height: auto;
    }
    .inner-page .hero-area .left .title {
        margin: 10px 0 0;
    }
    .inner-page .hero-area .left .pricing {
        margin: 0;
        text-align: center;
    }
    .inner-page .hero-area .left ul.list-wrapper.full-list {
        margin: 10px;
    }
    .inner-page .hero-area .left .hero-cta {
        width: 100%;
        margin: 10px 0;
    }
    .inner-page .hero-area .left:before {
        display: none;
    }
    .section-7 ul.sailent-features li {
        width: 100%;
    }
}

@media (max-width:479px) {
    .web-bottom-ctc .row .left {
        flex: auto;
    }
    .cof-field {
        width: 95px;
    }
    .standard-packages span {
        display: block;
        margin-top: 5px;
    }
    .form-section .form-submit-btn {
        width: 100%;
        display: inline-block;
        margin-top: 20px;
    }
    .three-column-design ul,
    .four-column-design ul {
        margin-bottom: 0;
    }
    .package-box .bm-pkg-heading h3 {
        font-size: 25px;
    }
    .section-9 .desired-package div[class*=col] {
        width: 47%;
    }
    .four-column-design {
        display: block;
    }
    .service-button,
    .main-banner .main-content .hero-phone span {
        display: block;
    }
    .section-9 .desired-package div[class*=col].col-2 {
        width: 53%;
    }
    .section-9 .desired-package div[class*=col] input {
        margin: 0px;
    }
    .step-description {
        width: 100%;
    }
    .cta .call-toll-free .phone-number a {
        font-size: 22px;
    }
    .section-6 h2,
    .section-6 h2 span {
        font-size: 20px;
    }
    .main-banner .main-content h2 {
        padding: 0 5px;
    }
    .section-9 .desired-package .bottom-order {
        text-align: center;
    }
    .section-9 .desired-package .standard-order-butn,
    .section-9 .desired-package .order-total {
        float: none;
        margin: 0 auto;
        width: auto;
        display: inline-block;
    }
    .section-7 [class*=col] .section-img {
        text-align: center;
        width: 100%;
    }
    .section-7 [class*=col] .section-text {
        width: 100%;
        text-align: center;
    }
    ul.sailent-features.two-col li {
        float: left;
        width: 100%;
    }
    .section-7 ul.sailent-features li {
        width: 50%;
        font-size: 13px;
        margin: 0 0 7px;
    }
    .cta h3 {
        font-size: 24px;
    }
    .order-total,
    .order-total #custom-output {
        font-size: 23px;
    }
    .inner-page .hero-area .left .title.s2 h2 {
        padding: 0 20px;
    }
}